header,footer{
    background-color: white;
    padding: 15px;
    text-align: center;
}
img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
nav{
    position:static;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: darkgray;
    color: white;
}
nav ul{
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    background-color: rgb(94, 112, 112);
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.list ul li{
    list-style-type: none;
    padding: 0;
    background-color: rgb(219, 213, 213);
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid black;
}
section h1{
    border-bottom: 2px solid black;
}
